<footer class="mt-5">
                                <div class="first"> 
                                 <p> Recevez les conseils de nos experts en souscrivant à notre Newsletter</p>

                                    <form action="">
                                     <input type="text" name="email">

                                    </form>   
                                    <button type="submit"> Soumettre</button>
                                </div>

                                <div class="second">
                                    <ul>
                                    <a href="{{ path('home') }}">Accueil</a>
                                    <a href="#services">Nos Services</a>
                                    <a href="{{ path('offer') }}">Les Offres</a>
                                    <!-- <a href="#Blog">Blog</a> -->
                                    <a href="{{ path('contact') }}">Nous Contacter</a>
                                    </ul>
                                    
                                    <p>&copy; Crown Creative 2021, Tous droits résérvés</p>
                                 </div>

                                <div class="third"> 
                                    <img src="{{ asset('assets/img/crownlogo.png') }}" alt="crownlogo">
                                    <p>
                                        +227 91 42 10 30<br>
                                        info@crowncreative.com
                                    </p>
                                    <div class="social">
                                        <img href="https://www.facebook.com/Crown-Creative-105644941713100" src="{{ asset('assets/img/facebook_64.png') }}" alt="facebook">
                                        <img src="{{ asset('assets/img/whatsapp_64.png') }}" alt="whatsapp">
                                        <img src="{{ asset('assets/img/twitter_64.png') }}" alt="twitter">

                                        
                                    </div>
                                </div>
                            </footer> 